In [65]:
import pandas as pd
import re

In [2]:
with open('data.csv', 'r') as f:
    df = pd.read_csv(f)

In [5]:
list(df.columns)

['Timestamp',
 'The currency your compensation will be represented in is the...',
 'Are you salaried or hourly?',
 'What is your approximate annual total compensation?',
 'What is your annual gross base pay?',
 'If you received a signing bonus, how much did you receive?',
 'If you receive a bonus, please input the approximate value of your bonus.',
 'If you were granted stock upon hiring, what was the value of your initial grant?',
 'If you get additional stock compensation (refreshers/discretionary grants/etc.), what was the value of the most recent grant?',
 'Did you negotiate for your compensation?',
 'Choose the option that best fits your job type',
 'What is your job title?',
 'Name of company?',
 'Is your company publicly-traded or privately-held?',
 'What industry is your company in?',
 'What percentage of your job is remote?',
 'How much cumulative work experience do you have in computer science or related fields?',
 'How long have you worked for your current employer?',
 'How long have you been in your current position?',
 'What is your highest level of educational attainment? ',
 'What was the major or concentration of your highest level of completed education?',
 "If you are currently enrolled in educational pursuits, please select the response that best matches your current enrollment. If you haven't started a program yet, please pick the one that best matches what you will start in the near future.",
 'What was the major or concentration of your highest level of current enrollment?',
 'What is your age?',
 'What is your gender?',
 'What is your ethnicity (check all that apply)',
 'What is your primary country of residence?',
 'How would you categorize the cost of living where you are?']

In [28]:
columns = ['Timestamp',
 'Currency',
 '',
 'Annual total compensation',
 'Annual gross base pay',
 'Signing bonus',
 'Value of bonus',
 'Value of initial stock',
 'Value of additional stock',
 'Negotiated or not',
 'Job type',
 'Job title',
 'Name of company',
 'Publicly-traded or privately-held',
 'Industry',
 'Location',
 'Cumulative work experience',
 'Time under employer',
 'Time in current position',
 'Education level',
 'Major/Concentration',
 '',
'',
 'Age',
 'Gender',
 'Ethnicity',
 'Country',
 'Cost of living']

In [29]:
df.columns = columns

In [55]:
def conversion(s):
    if s!=s: return float('nan')
    if len(s)==0: return float('NaN')
    match = re.findall(r'(\d*)yr (\d*)mo', s)[0]
    return int(match[0])*12+int(match[1])

In [56]:
df['Cumulative work experience'] = df['Cumulative work experience'].apply(conversion)

In [57]:
df['Cumulative work experience']

0        0.0
1      240.0
2       24.0
3       84.0
4       77.0
       ...
535     30.0
536    240.0
537    144.0
538      0.0
539     48.0
Name: Cumulative work experience, Length: 540, dtype: float64

In [58]:
df['Time under employer'] = df['Time under employer'].apply(conversion)

In [59]:
df['Time in current position'] = df['Time in current position'].apply(conversion)

In [60]:
df['Currency']

0         US Dollar (USD)
1         US Dollar (USD)
2         US Dollar (USD)
3      Indian Rupee (INR)
4      Indian Rupee (INR)
              ...
535       US Dollar (USD)
536       US Dollar (USD)
537       US Dollar (USD)
538       US Dollar (USD)
539       US Dollar (USD)
Name: Currency, Length: 540, dtype: object

In [61]:
df = df[df['Currency']=='US Dollar (USD)']

In [62]:
df

,Timestamp,Currency,,Annual total compensation,Annual gross base pay,Signing bonus,Value of bonus,Value of initial stock,Value of additional stock,Negotiated or not,...,Time in current position,Education level,Major/Concentration,,,Age,Gender,Ethnicity,Country,Cost of living
0,11/23/2018 21:55:19,US Dollar (USD),Salary,100000.0,100000.0,1500.0,NaN,NaN,NaN,No,...,0.0,High school / GED,Computer Science,Pursuing Bachelor's (4-year) Degree,Computer Science,19.0,Male,Asian,United States,NaN
1,11/24/2018 23:39:33,US Dollar (USD),Salary,84560.0,79560.0,NaN,5000.0,NaN,NaN,No,...,32.0,Some college/university (did not graduate),High School,Pursuing Bachelor's (4-year) Degree,NaN,36.0,Male,White,United States,NaN
2,11/25/2018 1:21:36,US Dollar (USD),Salary,65000.0,64000.0,0.0,0.0,0.0,0.0,Yes,...,24.0,Bachelor's (4-year) Degree,Electrical Engineer,Other,Electrical Engineer,NaN,Male,White,united states,NaN
5,11/26/2018 9:23:48,US Dollar (USD),Salary,60000.0,60000.0,0.0,0.0,0.0,0.0,No,...,1.0,Bachelor's (4-year) Degree,Chemistry,Pursuing Master's Degree,Software Engineering,23.0,Male,White,United States of America,NaN
7,11/28/2018 0:55:38,US Dollar (USD),Hourly,90000.0,86000.0,NaN,4000.0,NaN,NaN,No,...,1.0,Bachelor's (4-year) Degree,Computer Science,Other,NaN,25.0,Male,Hispanic/Latino,USA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,6/3/2020 13:12:42,US Dollar (USD),Salary,55000.0,50000.0,NaN,NaN,NaN,NaN,No,...,12.0,Bachelor's (4-year) Degree,Computer Science,Pursuing Master's Degree,Computer Science,25.0,Male,White,USA,Medium cost of living
536,6/3/2020 13:50:19,US Dollar (USD),Salary,750000.0,210000.0,70000.0,0.0,2500000.0,312000.0,Yes,...,12.0,High school / GED,-,Other,NaN,NaN,Male,NaN,NaN,NaN
537,6/11/2020 18:38:46,US Dollar (USD),Salary,105000.0,105000.0,NaN,NaN,NaN,NaN,Yes,...,24.0,Bachelor's (4-year) Degree,Mathematics,Other,NaN,29.0,Male,White,NaN,Low cost of living
538,6/15/2020 0:57:32,US Dollar (USD),Salary,55000.0,55000.0,0.0,0.0,0.0,0.0,No,...,6.0,Associate's (2-year) Degree,Computer Science,Pursuing Bachelor's (4-year) Degree,Computer Science,30.0,Male,White,USA,Low cost of living
539,6/15/2020 2:02:36,US Dollar (USD),Salary,200000.0,150000.0,5000.0,NaN,NaN,NaN,No,...,12.0,Bachelor's (4-year) Degree,Unrelated to CS,Other,NONE,25.0,Male,White,USA,Medium cost of living

In [63]:
df.to_csv('data.csv', index=False)

In [64]:
df.columns

Index(['Timestamp', 'Currency', '', 'Annual total compensation',
       'Annual gross base pay', 'Signing bonus', 'Value of bonus',
       'Value of initial stock', 'Value of additional stock',
       'Negotiated or not', 'Job type', 'Job title', 'Name of company',
       'Publicly-traded or privately-held', 'Industry', 'Location',
       'Cumulative work experience', 'Time under employer',
       'Time in current position', 'Education level', 'Major/Concentration',
       '', '', 'Age', 'Gender', 'Ethnicity', 'Country', 'Cost of living'],
      dtype='object')

In [66]:
df.columns

Index(['Timestamp', 'Currency', '', 'Annual total compensation',
       'Annual gross base pay', 'Signing bonus', 'Value of bonus',
       'Value of initial stock', 'Value of additional stock',
       'Negotiated or not', 'Job type', 'Job title', 'Name of company',
       'Publicly-traded or privately-held', 'Industry', 'Location',
       'Cumulative work experience', 'Time under employer',
       'Time in current position', 'Education level', 'Major/Concentration',
       '', '', 'Age', 'Gender', 'Ethnicity', 'Country', 'Cost of living'],
      dtype='object')

In [67]:
df['Annual total compensation'] = df['Annual total compensation'].apply(lambda x: x/1000)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [70]:
df['Annual gross base pay'] = df['Annual gross base pay'].apply(lambda x: x/1000)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [71]:
df.to_csv('data.csv', index=False)

In [72]:
df['Signing bonus'] = df['Signing bonus'].apply(lambda x: x/1000)
df['Value of bonus'] = df['Value of bonus'].apply(lambda x: x/1000)
df['Value of initial stock'] = df['Value of initial stock'].apply(lambda x: x/1000)
df['Value of additional stock'] = df['Value of additional stock'].apply(lambda x: x/1000)
df.to_csv('data.csv', index=False)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [73]:
df['Age']

0      19.0
1      36.0
2       NaN
5      23.0
7      25.0
       ...
535    25.0
536     NaN
537    29.0
538    30.0
539    25.0
Name: Age, Length: 413, dtype: float64